<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="use_cases.html">Use Cases</a>
      </li>
      <li>
        <a href="information_content_and_fhir_resources.html">Information Content</a>
      </li>
   	  <li>
        <a href="business_rules.html">Business rules</a>
      </li>
   	  <li>
        <a href="submission_method.html">Submission Method</a>
      </li>
   	  <li>
        <a href="error_handling.html">Error Handling</a>
      </li>
   	  <li>
        <a href="security.html">Security</a>
      </li>
   	  <li>
        <a href="consumer_vs_provider_rtpbc.html">Consumer vs Provider RTPBC</a>
      </li>
	</ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="profiles.html">Profiles and Extensions</a>
      </li>
      <li>
        <a href="terminology.html">Terminology</a>
      </li>
   	  <li>
        <a href="capstatements.html">Capability Statements</a>
      </li>
	</ul>
  </li>
  <li><a href="other.html">Examples</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
